#btn-top{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  background-color: darkred;
  cursor: pointer;
  padding: 13px;
  border-radius: 10px;
  font-size: 12px;
}
#btn-top:hover{
  background-color: red;
}

.landing-page{
  width: auto;
  height: auto;
  background-color: black;
  overflow: hidden;
  margin-top: 80.8px;
}

.offering{
  width: auto;
  height: 650px;
  background-color: darkblue;
}

.history{
  width: auto;
  height: 600px;
  background-color: darkred;
}

.cont-history{
  padding: 50px;
  float: left;
  margin: 150px 0px 150px 75px;
  background-color: rgb(75,95,25,0.9);
  max-width: 600px;
}

.recommended{
    width: auto;
    height: auto;
    background-image: url(../image/recommend-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

footer{
  width: auto;
  height: auto;
  padding-top: 35px;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 15px;
  background-color: black;
  color: white;
  /* background-image: url("../image/bg.png"); */
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  border-style: solid;
  border-width: 3px 0 3px 0;
  border-color: #d9d9d9;
	text-shadow: 4px 4px 5px #000000;
}

.lead{
	text-shadow: 4px 4px 5px #000000;
}

/*Carousel*/
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.carousel-inner > .item >img{
  min-height : 300px;
  max-height : 300px;
  width : 100%;
  }

/*Dropdown*/
@media all and (min-width: 992px) {
	.navba .nav-item .dropdown-menu{ display: none; }
	.navba .nav-item:hover .nav-link{ color: #fff;  }
	.navba .nav-item:hover .dropdown-menu{ display: block; }
	.navba .nav-item .dropdown-menu{ margin-top:0; }
}	

/*Login Form*/
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  
  
  /* Fallback for Edge
  -------------------------------------------------- */
  
  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }

.navbar{
  text-align: right;
  width: auto;
  height: auto;
  background-color: rgba(25,25,125,1);
  padding-bottom: 25px;
  color: black;
}

/* Shopping Cart CSS Has to BE MOdify Later */
#shopping-cart {
  width: 450px;
}

#product-grid {
	margin: 40px;
	overflow: auto;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 120px;
}

#shopping-cart table {
	width: 100%;
	background-color: #F0F0F0;
}

#shopping-cart table td {
	background-color: #FFFFFF;
}

.txt-heading {
	color: #211a1a;
	border-bottom: 1px solid #E0E0E0;
	overflow: auto;
}

#btnEmpty {
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 25px 10px 0px;
}

.btnAddAction {
    padding: 5px 10px;
    margin-left: 15px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}

.product-item {
	float: left;
	overflow: auto;
	background: #ffffff;
	margin: 30px 30px 0px 0px;
  border: #E0E0E0 1px solid;
  padding-bottom: 10px;
  display: none;
}
.show{
  display: block;
}

.product-image {
	height: 175px;
	width: 250px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5px;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

.tbl-cart {
	font-size: 0.9em;
}

.tbl-cart th {
	font-weight: normal;
}

.product-title {
  display: inline;
	margin-bottom: 20px;
}

.product-price {
  float:right;
}

.cart-action {
	display: block;
}

.product-quantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}

.cart-item-image {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}
.menu{
	background-color: goldenrod;
	overflow: auto;
}
.list-menu{
    height: auto;
}
.buybtn{
    margin-right: 20px;
    margin-bottom: 5px;
}

.col-sm-4{
  margin-bottom: 25px;
}

.rec-color{
  background-color: rgba(175,100,0,0.4);
  height: auto;
  width: auto;
  padding-top: 25px;
  padding-bottom: 60px;
  padding-left: 10%;
  padding-right: 10%;
}


#cont-ctgr-btn{
  margin: 0 auto;
  padding: 15px 0px 15px 0px;
  display: flex;
  justify-content: center;
}

.btn.selected {
  background-color: white;
   color: black;
}

@media (max-width: 765px){
  #cont-ctgr-btn{
    display: block;
  }
  #cont-ctgr-btn button{
    margin-bottom: 7px;
  }
}

.vision-mission{
  background-image: url(../image/visi-mission-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
}

.cont-visi-mission{
  background-color: rgba(125,55,30,0.9);
  float: right;
  max-width: 600px;
  margin: 150px 75px 150px 0;
  padding: 50px;
}
.cont-visi-mission p,.cont-history p{
  color: lightgrey;
}

.cont-visi-mission h2,.cont-history h2{
  color: white;
}
.structure{
  background-color: rgb(25,25,125);
  height: 600px;
  
}

.cont-structure{
  width: fit-content;
  background-color: rgba(150,55,55,0.9);
  padding: 50px;
  margin: 0px 50px auto;
  position: relative;
  top: 50%;
}

#cart-page{
  margin: 0 auto;
  margin-top: 90.8px;
  min-height: 750px;
}

.cart-item{
  width: 100%;
  overflow: auto;
  margin-bottom: 30px;
}

.menu-img{
  padding: 0px;
  display: inline;
  float: left;
}

.cart-img-menu{
  height: 150px;
}

.item-information{
  display: inline-block;
  margin-top: 35px;
}
.add-delete-item{
  display: inline;
  float: right;
  margin-top: 100px;
}

.item-information p{
  font-size: 20px;
  color: black;
}

.add-delete-item a{
  padding-left: 10px;
  padding-right: 10px;

}

.total-price{
  overflow : auto;
  height: auto;
}

.total-price p {
  color: black;
  font-size: 18px;
}

#payment-form{
  margin-top: 250px;
}

.auto-height{
  height:auto !important;
}